body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.logo_picture {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.navigation_bar {
    list-style: none;
    position:fixed;
    top:0;
    margin: auto;
}

.survey_frame {
    top: 10%;
    height: 90%;
    width: 100%;
}

.survey_progress {
    position:fixed;
    bottom:0;
    background-color: #efefef;
    width: 100%;
    height: auto;
    margin: auto;
}

.prog {
    margin: 2%;
}

.question_icon {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
}

.survey_question {
    margin: auto;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: lighter;
    padding: 0;
    text-align: center;
}

.option_list {
    padding: 0;
    transform: translate(-50%, -50%);
    width: 62%;
    overflow: hidden;
}

.option_list li {
    float: left;
    list-style: none;
    text-align: center;
    margin-right: 40px;
    width: 150px;
    line-height: 45px;
    background-color: #efefef;
    border-radius: 10px;
}

.survey_button {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.survey_button {
  text-decoration: none;
  color: dimgray;
  display: block;
}

.survey_button:hover {
  text-decoration: none;
  color: black;
  background-color: #5db333;
  border-radius: 10px;
}
